<div class="max-w-5xl px-6 mx-auto">
  <h1 class="text-2xl font-semibold text-center text-gray-800">Today I Learned</h1>

  <div class="flex flex-col items-center justify-center mt-6">
    <%= for post <- @posts do %>
      <%= live_component(TaylorMockWeb.Live.TilLive.PostComponent, post: post) %>
    <% end %>
  </div>
</div>
