<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Taylor Mock" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://kit.fontawesome.com/0194a7e496.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="p-6 flex items-center justify-between">
      <span>Taylor Mock</span>
      <nav role="navigation">
        <%= if @current_user do %>
          <%= link "Log out #{@current_user.email}", to: Routes.user_session_path(@conn, :delete), method: :delete %>
        <% end %>
      </nav>
    </header>
    <%= @inner_content %>
    <footer class="p-6 text-center">
      <a
        href="https://www.github.com/tmock12"
        target="_blank"
        rel="noopener noreferrer"
        >
        <i title="Github @tmock12" class="fab fa-github"></i>
      </a>
      <a
        href="https://www.twitter.com/tmock12"
        target="_blank"
        rel="noopener noreferrer"
        class="mx-2"
        >
        <i title="Twitter @tmock12" class="fab fa-twitter"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/taylormock/"
        target="_blank"
        rel="noopener noreferrer"
        >
        <i title="LinkedIn Taylor Mock" class="fab fa-linkedin"></i>
      </a>
    </footer>
  </body>
</html>
